table{
    width: 1230px;
    position: relative;
    left: 85px;
}
caption{
    font-size: 30px;
    font-weight: bold;
}
.td{
    width: 200px;
    height: 200px;
    overflow:hidden;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;

}